/* General */
:root {
	--border-radius: 0;
	--border-radius2x: 0;
	--default: #777;
}
/* Skin Colors */
:root {
	--primary: #cb4124;
	--primary-100: #cb4124;
	--primary-200: #cb4124;
	--primary-300: #cb4124;
	--primary--100: #cb4124;
	--primary--200: #cb4124;
	--primary--300: #cb4124;
	--primary-rgba-0: #cb4124;
	--primary-rgba-10: #cb4124;
	--primary-rgba-20: #cb4124;
	--primary-rgba-30: #cb4124;
	--primary-rgba-40: #cb4124;
	--primary-rgba-50: #cb4124;
	--primary-rgba-60: #cb4124;
	--primary-rgba-70: #cb4124;
	--primary-rgba-80: #cb4124;
	--primary-rgba-90: #cb4124;
	--secondary: #b8d8eb;
	--secondary-100: #b8d8eb;
	--secondary-200: #b8d8eb;
	--secondary-300: #b8d8eb;
	--secondary--100: #b8d8eb;
	--secondary--200: #b8d8eb;
	--secondary--300: #b8d8eb;
	--secondary-rgba-0: #b8d8eb;
	--secondary-rgba-10: #b8d8eb;
	--secondary-rgba-20: #b8d8eb;
	--secondary-rgba-30: #b8d8eb;
	--secondary-rgba-40: #b8d8eb;
	--secondary-rgba-50: #b8d8eb;
	--secondary-rgba-60: #b8d8eb;
	--secondary-rgba-70: #b8d8eb;
	--secondary-rgba-80: #b8d8eb;
	--secondary-rgba-90: #b8d8eb;
	--tertiary: #97caeb;
	--tertiary-100: #97caeb;
	--tertiary-200: #97caeb;
	--tertiary-300: #97caeb;
	--tertiary--100: #97caeb;
	--tertiary--200: #97caeb;
	--tertiary--300: #97caeb;
	--tertiary-rgba-0: #97caeb;
	--tertiary-rgba-10: #97caeb;
	--tertiary-rgba-20: #97caeb;
	--tertiary-rgba-30: #97caeb;
	--tertiary-rgba-40: #97caeb;
	--tertiary-rgba-50: #97caeb;
	--tertiary-rgba-60: #97caeb;
	--tertiary-rgba-70: #97caeb;
	--tertiary-rgba-80: #97caeb;
	--tertiary-rgba-90: #97caeb;
	--quaternary: #212529;
	--quaternary-100: #212529;
	--quaternary-200: #212529;
	--quaternary-300: #212529;
	--quaternary--100: #212529;
	--quaternary--200: #212529;
	--quaternary--300: #212529;
	--quaternary-rgba-0: #212529;
	--quaternary-rgba-10: #212529;
	--quaternary-rgba-20: #212529;
	--quaternary-rgba-30: #212529;
	--quaternary-rgba-40: #212529;
	--quaternary-rgba-50: #212529;
	--quaternary-rgba-60: #212529;
	--quaternary-rgba-70: #212529;
	--quaternary-rgba-80: #212529;
	--quaternary-rgba-90: #212529;
	--dark: #212529;
	--dark-100: #212529;
	--dark-200: #212529;
	--dark-300: #212529;
	--dark--100: #212529;
	--dark--200: #212529;
	--dark--300: #212529;
	--dark-rgba-0: rgba(33, 37, 41, 0);
	--dark-rgba-10: rgba(33, 37, 41, 0.1);
	--dark-rgba-20: rgba(33, 37, 41, 0.2);
	--dark-rgba-30: rgba(33, 37, 41, 0.3);
	--dark-rgba-40: rgba(33, 37, 41, 0.4);
	--dark-rgba-50: rgba(33, 37, 41, 0.5);
	--dark-rgba-60: rgba(33, 37, 41, 0.6);
	--dark-rgba-70: rgba(33, 37, 41, 0.7);
	--dark-rgba-80: rgba(33, 37, 41, 0.8);
	--dark-rgba-90: rgba(33, 37, 41, 0.9);
	--light: #FFF;
	--light-100: #f2f2f2;
	--light-200: #ececec;
	--light-300: #e6e6e6;
	--light--100: #ffffff;
	--light--200: #ffffff;
	--light--300: #ffffff;
	--light-rgba-0: rgba(255, 255, 255, 0);
	--light-rgba-10: rgba(255, 255, 255, 0.1);
	--light-rgba-20: rgba(255, 255, 255, 0.2);
	--light-rgba-30: rgba(255, 255, 255, 0.3);
	--light-rgba-40: rgba(255, 255, 255, 0.4);
	--light-rgba-50: rgba(255, 255, 255, 0.5);
	--light-rgba-60: rgba(255, 255, 255, 0.6);
	--light-rgba-70: rgba(255, 255, 255, 0.7);
	--light-rgba-80: rgba(255, 255, 255, 0.8);
	--light-rgba-90: rgba(255, 255, 255, 0.9);
}
/* Skin Colors - Inverse */
:root {
	--primary-inverse: #FFF;
	--secondary-inverse: #777;
	--tertiary-inverse: #777;
	--quaternary-inverse: #FFF;
	--dark-inverse: #FFF;
	--light-inverse: #777;
}
/* Grey Colors */
:root {
	--grey: #969696;
	--grey-100: #f4f4f4;
	--grey-200: #eaeaea;
	--grey-300: #e5e5e5;
	--grey-400: #e0e0e0;
	--grey-500: #dbdbdb;
	--grey-600: #cecece;
	--grey-700: #c1c1c1;
	--grey-800: #a8a8a8;
	--grey-900: #8e8e8e;
	--grey-1000: #757575;
}
